version 5.216.0

group Server
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    storage: none

    nuget Thoth.Json.Giraffe
    nuget Microsoft.AspNetCore
    nuget Microsoft.AspNetCore.StaticFiles
    nuget Microsoft.ApplicationInsights.AspNetCore ~> 2.2
    nuget Microsoft.Azure.Management.Storage
    nuget Microsoft.Azure.Management.ResourceManager
    nuget Microsoft.Azure.Management.Fluent

group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fable.Elmish.Debugger ~> 2
    nuget Fable.Elmish.React ~> 2
    nuget Fable.Elmish.HMR ~> 2
    nuget Fulma.Extensions.Wikiki.Checkradio
    nuget Fulma.Extensions.Wikiki.Divider

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.Zip
    github CompositionalIT/fshelpers src/FsHelpers/ArmHelper/ArmHelper.fs